
@import "stylesheet.css";



@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Bold.woff2') format('woff2'),
        url('CormorantGaramond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans Condensed';
    src: url('FiraSansCondensed-ExtraLight.woff2') format('woff2'),
        url('FiraSansCondensed-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Italic.woff2') format('woff2'),
        url('CormorantGaramond-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Garamond';
    src: url('CormorantGaramond-Light.woff2') format('woff2'),
        url('CormorantGaramond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pacifico';
    src: url('Pacifico-Regular.woff2') format('woff2'),
        url('Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*  конец подключения стилей css */

* {
    margin: 0 auto;
}

body {
    font-size: 20px;
    font-family: 'Pacifico';
    width: 1200px;
    display: block;
    box-sizing: border-box;
}

main {
    font-family: 'Fira Sans Condensed';
}

nav {
    text-transform: capitalize;
    font-size: 25px;
    display: block;
    margin: 0 0 15px 0;
}

h2 {
    font-family: 'Cormorant Garamond';
    font-weight: 300;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 1px rgb(246, 4, 4);
}

a {
    color:rgb(10, 195, 4);
}

li {
    display: inline-block;
    padding-right: 5px;
}


div p {
    color:green;
}

img {
    margin: 0 0 35px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

mark {
    color:red;
}

footer {
    display: block;
}

h2 {
    margin: 0 0 20px 0;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.image {
    margin: 0 0 70px 0;
}

.name {
    font-family: 'Cormorant Garamond';
    color:cadetblue;
    font-weight: bold;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    margin: 0 0 10px 0;
}

.content a {
    color:sandybrown;
}

.page-one li {
    color:saddlebrown;
    text-transform: capitalize;
}

.li-page-one {
    margin: 0 0 30px 0;
}

.ftwo {
    margin: 0 0 20px 0;
}

.text-page {
    height: 250px;
    overflow: auto;
    margin: 0 0 40px 0;
}

.page-two {
    display: block;
    margin-bottom: 70px;

}

.bu {
    display: inline-block;
    width: 315px;
    height: 100px;
    margin-right: 120px;
    overflow: visible;
}

.bu > p{
    color: blue;
}

.buga {
    display: inline-block;
    width: 315px;
    height: 100px;
    margin-right: 120px;
    overflow: hidden;
}

.bugaga {
    display: inline-block;
    width: 315px;
    height: 100px;
    overflow: scroll;
}

.page-three {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.null {
    margin: 0 0 100px 0;
}
